
body {
    background-image: url("/img/bg.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
    margin: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

/* Make text readable */
main,
header,
footer {
    color: white;
}

.imground {
    border-radius: 10px;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    float: right;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
